body{
    background-color: green;   
}
.top{
    background-image: url(https://images.unsplash.com/photo-1517232115160-ff93364542dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
}


#function-btn{
    text-align: center;
}
#hype-2{
    text-align: center;
    font-weight: bolder;
    color: whitesmoke;
}

#header{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: whitesmoke;
}
#table{
    background-color: green;
}

.bdm{
    background-image: url(https://images.unsplash.com/photo-1512767254318-423c816efbf3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    position: sticky;
    margin-top: auto;
}
footer{
    text-align: center;
    position: fixed;
    z-index: 4;
    background-color: cornflowerblue;
}
#nav-btn{
 text-align: center;
}
#modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
#modal-content{
    background-color: #fefefe;
    margin: 60% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    font-weight: bold;
    
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}







   

